@model IEnumerable<PrimeiroCRUD.Models.Carro>

@{ ViewData["Title"] = "Listagem de dados"; }

<h2>Listagem de dados</h2>

<a asp-action="NovoCarro" class="btn btn-primary">Novo carro</a>

<!-- Lista-->
<div class="container">

    <table class="table">

        <thead>
            <tr>
                <th>
                    Marca
                </th>

                <th>
                    Nome
                </th>

                <th>
                    Ano
                </th>

                <th>
                    Ações
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Ano)
    </td>

    <td>
        <a asp-action="AtualizarCarro" asp-route-id="@item.CarroId" class="btn btn-info">Atualizar</a>
        <a asp-action="Detalhes" asp-route-id="@item.CarroId" class="btn btn-warning">Detalhes</a>
        <a asp-action="Excluir" asp-route-id="@item.CarroId" class="btn btn-danger">Excluir</a>
    </td>
</tr>            }
        </tbody>

    </table>

</div>